
.contact{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(230, 99, 227);
  z-index: -100;
}
.contact-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.icon{
  color: white;
}

.contact-text {
  color: white;
}
.navbar{
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
}

#btn{
  text-decoration: underline;
  text-underline-offset: 28px;
  color: purple;
}
@media(max-width:600px){
  .navbar{
    flex-direction: column;
  }
}

