
.navbox {
  padding: 20px;
  margin-top: 2px;
  z-index: 1; 
  width: 700px;
  height: 150px; 
  margin-left: auto; 
  margin-right: auto; 
  cursor: pointer;
}

.content {
  display: inline-block; 
  justify-content: space-evenly; 
  align-items: center;
  flex-wrap: wrap; 
  padding: 20px;
  z-index: 1; 
  width:680px;
  white-space: nowrap; 
  scrollbar-width: none;
  overflow-y:hidden;
  overflow-x:scroll;
  
}

@media (max-width: 600px) {
  .navbox {
    padding: 10px;
    width: 100%; /* Full width on small screens */
  }
  .content {
    display: block; /* Stack buttons vertically on small screens */
    text-align: center; /* Center align text */
  }
}
