.footerbox {
  background: #2F75E6;
  padding: 20px;
  margin-top: 200px;
}

.firstbox {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
  
.firstrow{
  justify-content: space-between;
  width: 90%;
  
}

.secondbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  
}

.rectangle {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
  
  margin-left: 90px;
  width: 100%;
}
.rectangle2{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
  
  width: 100%;
  margin-left: 70px;
}
.rectangletext {
  
  color: white;
  padding-bottom: 10px;
  text-align: start;
  font-size: 12px;
}

.iconcolor {
  margin-left: -9px;
  color: white;
  font-size: 22px;
  margin-right: 20px;
  
}
.iconbtn{
  margin-left: 0px;
  display: flex;
  width:200px;
  justify-content: flex-start;
  border: 1px solid rgba(123, 5, 5, 0);
  background-color: rgba(217, 16, 16, 0);
}

.Thirdbox {
  
  color: white;
  font-size: 15px;
 
  width:87%;
}

@media (max-width: 600px) {
  .firstbox {
    flex-direction: column;
    text-align: center;
  }

  .secondbox {
    flex-direction: column;
  }

  .rectangle {
    width: 100%;
    margin-left: 0px;
    justify-content: center;
    
  }
  .rectangle2 {
    
    margin-left: 0px;
   
  }
  .Thirdbox{
    margin-right: 36px;
  }
  
}
