.text {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto; 
  margin-right: auto; 
  
}

.image4{
  position: fixed;
  left: 890px;
  top:130px;
  width:35%;
  height:70vh;
  right: 0px;
  
}

@media (max-width: 600px) {
  .text {
    padding: 10px 0;
  }

  .firsttext {
    font-size: 30px;
  }
}
